body {
  background-color: #D1AB92;
  color: black;
}

.a {
  color: black;
  margin: 20px;
  line-height: 1.6;
  font-family: cursive;
  font-style: italic;
}
.a{
  color: black;
  font-size: large;
  text-transform: uppercase;
  text-decoration: underline;
}